@model Painel_Projetos.Web.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        Login
                                    </h3>
                                </div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        @*<hr />*@
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.UrlRetorno)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "small mb-1" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control py-4", @placeholder = "Informe seu login" } })
                                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "small mb-1" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control py-4", @placeholder = "Informe sua senha" } })
                                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Lembrar senha</label>
                                            </div>
                                        </div>*@
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="password.html">Esqueceu a senha?</a>
                                            @*<a class="btn btn-primary" href="index.html">Login</a>*@
                                            <input type="submit" value="Logar" class="btn btn-primary" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">
                            <p>&copy; Painel de Projetos - 2020</p>
                        </div>
                        @*<div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @section scripts{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>