@using Painel_Projetos.DomainModel.Class
@model IEnumerable<Painel_Projetos.DomainModel.Class.Aluno>

@{
    ViewBag.Title = "List";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="mt-4"></div>

            <div class="card mb-4">
                <div class="card-header">
                    @if (User.IsInRole("Coordenador"))
                    {
                        using (Html.BeginForm())
                        {
                            <div class="form-row">

                                <div class="col-md-2">
                                    <a href="@Url.Action("Edit", "Aluno")">
                                        <i class="fas fa-plus mr-1"></i>
                                        Incluir aluno
                                    </a>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("CursoID", ViewBag.CursoId as SelectList, "Selecione um curso", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownList("TurmaId", ViewBag.TurmaId as SelectList, "Selecione uma turma", new { @class = "form-control" })
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                </div>

                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <i class="fas fa-users"></i>
                            @Html.Raw(TempData["Turma"])
                        </div>
                    }
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        @if (TempData["ListaVazia"] != null)
                        {
                            <div class="container">
                                <div class="row justify-content-center">
                                    <h4>
                                        @TempData["ListaVazia"]
                                        <i class="fas fa-exclamation"></i>
                                    </h4>
                                </div>
                            </div>
                        }
                        else
                        {
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        @if (User.IsInRole("Coordenador"))
                                        {
                                            <th>Editar</th>
                                        }
                                        <th>RA</th>
                                        <th>Aluno</th>
                                        <th>Data de nascimento</th>
                                        <th>E-mail</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @if (User.IsInRole("Coordenador"))
                                            {
                                                <td>
                                                    <a class="nav-link" href="@Url.Action(" Edit", "Aluno", new { id = item.ID })">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </td>
                                            }
                                            <td>@item.RA</td>
                                            <td>@item.Nome</td>
                                            <td>@item.DataNascimento.ToShortDateString()</td>
                                            <td>@item.Email</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

