@model IEnumerable<Painel_Projetos.DomainModel.Class.Aluno>

@{
    ViewBag.Title = "List";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="mt-4"></div>

            <div class="card mb-4">
                <a href="@Url.Action("Edit","Aluno")">
                    <div class="card-header">
                        <i class="fas fa-plus mr-1"></i>
                        Incluir aluno
                    </div>
                </a>

                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Editar</th>
                                    <th>RA</th>
                                    <th>Aluno</th>
                                    <th>Data de nascimento</th>
                                    <th>E-mail</th>
                                    <th>Curso</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>

                                    <td>
                                        <a class="nav-link" href="@Url.Action("Edit", "Aluno", new { id = item.ID })">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>@item.RA</td>
                                    <td>@item.Nome</td>
                                    <td>@item.DataNascimento.ToShortDateString()</td>
                                    <td>@item.Email</td>
                                    <td>@item.Curso.Descricao</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

